<!DOCTYPE html>
<html lang="en">
<head>
<title>BitMint</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link href="images/icon.png" rel="icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:display=swap" rel="stylesheet">
<link rel="stylesheet" href="cssc/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="cssc/animate.css">
<link rel="stylesheet" href="cssc/owl.carousel.min.css">
<link rel="stylesheet" href="cssc/owl.theme.default.min.css">
<link rel="stylesheet" href="cssc/magnific-popup.css">
<link rel="stylesheet" href="cssc/aos.css">
<link rel="stylesheet" href="cssc/ionicons.min.css">
<link rel="stylesheet" href="cssc/bootstrap-datepicker.css">
<link rel="stylesheet" href="cssc/jquery.timepicker.css">
<link rel="stylesheet" href="cssc/flaticon.css">
<link rel="stylesheet" href="cssc/icomoon.css">
<link rel="stylesheet" href="cssc/style.css">
</head>
<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
<a class="navbar-brand" href="index.html">
  <img src="images/logo.png" style="width: 200px;" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span>
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav m-auto">
<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
<li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
<li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
</ul>
<div class="nav-item cta">
<a href="/register" class="nav-link nav-btn" style="color: #fff !important; font-weight: bold;"><span>Create Free Account</span></a>
</div>
</div>
</div>
</nav>