<!DOCTYPE html>
<html lang="en">
<head>
<title>BitMint</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link href="images/icon.png" rel="icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:display=swap" rel="stylesheet">
<link rel="stylesheet" href="cssc/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="cssc/animate.css">
<link rel="stylesheet" href="cssc/owl.carousel.min.css">
<link rel="stylesheet" href="cssc/owl.theme.default.min.css">
<link rel="stylesheet" href="cssc/magnific-popup.css">
<link rel="stylesheet" href="cssc/aos.css">
<link rel="stylesheet" href="cssc/ionicons.min.css">
<link rel="stylesheet" href="cssc/bootstrap-datepicker.css">
<link rel="stylesheet" href="cssc/jquery.timepicker.css">
<link rel="stylesheet" href="cssc/flaticon.css">
<link rel="stylesheet" href="cssc/icomoon.css">
<link rel="stylesheet" href="cssc/style.css">
</head>
<body>
<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
<a class="navbar-brand" href="index.html">
  <img src="images/logo.png" style="width: 200px;" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span>
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav m-auto">
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item active"><a href="/about" class="nav-link">About</a></li>
<li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
<li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
</ul>
<div class="nav-item cta">
<a href="/register" class="nav-link nav-btn" style="font-weight: bold;"><span>Create Free Account</span></a>
</div>
</div>
</div>
</nav>

<!-- hero -->
<section class="home-slider owl-carousel">
<div class="slider-item bread-item" style="background-image: url(images/about.png);" data-stellar-background-ratio="1">
<div class="overlay"></div>
<div class="container-fluid">
<div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
<div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
</div>
</div>
</div>
</div>
</section>

<!-- about -->
<section class="ftco-section bg-light">
<div class="container">
<div class="row d-md-flex">
<div class="col-md-5 ftco-animate img about-image" style="background-image: url(images/2.png);">
</div>
<div class="col-md-7 ftco-animate p-md-5">
<div class="row">
<div class="col-md-12 nav-link-wrap mb-5">
<div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>
<a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>
<a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our Core Values</a>
</div>
</div>
<div class="col-md-12 d-flex align-items-center">
<div class="tab-content ftco-animate" id="v-pills-tabContent">
<div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
<div>
<h2 class="mb-4">Offering Reliable Minning</h2>
<p>Bintmint we have a set of machines called miners which generates bitcoin and when you invest with us we use your money to invest in electricity and maintenance to keep these machines running on 24/7 for 365 days a year, then we give you daily profits from the bitcoin that the machines produces.</p>
<p>Basically we have over 7 mining farm/pools( containing over a thousand s15 ant miners)which individually produces a stipulated amount of bitcoin daily. This is in the sense that every mining farm/pool produces according to a certain plan, there is a farm/ pool for the starters plan where the cost of maintenance isn’t that high therefore it produces per cost rate and same way for the processing plans.</p>
<p>So each farms cost differently in the maintenance and the powering of the miners to produces more bitcoins daily. Hence leading to the difference in the plan prices and the daily profits rate for higher plans at a higher percentages!</p>
</div>
</div>
<div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
<div>
<h2 class="mb-4">Exceptional Minning Solutions</h2>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
</div>
</div>
<div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
<div>
<h2 class="mb-4">Our Core Values</h2>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- counter -->
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
<div class="container">
<div class="row justify-content-center mb-5">
<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
<span class="subheading">More than 100,000 Miners </span>
</div>
</div>
<div class="row justify-content-center">
<div class="col-md-10">
<div class="row">
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18 text-center">
<div class="text">
<strong class="number" data-number="200000">0</strong>
<span>Miners</span>
</div>
</div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18 text-center">
<div class="text">
<strong class="number" data-number="100">0</strong>
<span>Awards Won</span>
</div>
</div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18 text-center">
<div class="text">
<strong class="number" data-number="3200">0</strong>
<span>Registered Clients</span>
</div>
</div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18 text-center">
<div class="text">
<strong class="number" data-number="3199">0</strong>
<span>Satisfied Customers</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<!-- customers -->
<section class="ftco-section testimony-section" style="background-color: #F5F5F5;">
<div class="container">
<div class="row justify-content-center mb-5 pb-3">
<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
<span class="subheading" style="color: #222;">Customer Says</span>
<h2 class="mb-4" style="color: #006eb9; font-weight: bold;">What customers say about Us</h2>
</div>
</div>
<div class="row ftco-animate">
<div class="col-md-12">
<div class="carousel-testimony owl-carousel ftco-owl">
<div class="item">
<div class="testimony-wrap p-4 pb-5">
<div class="user-img mb-5" style="background-image: url(images/client.png)">
<span class="quote d-flex align-items-center justify-content-center">
<i class="icon-quote-left"></i>
</span>
</div>
<div class="text">
<p class="mb-5">" I've been investing with BitMint Option since 2018 and all i can say is it is the best bitcoin mining platform. Easy going database."</p>
<p class="name">Confidence</p>
<span class="position">BitMint</span>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap p-4 pb-5">
<div class="user-img mb-5" style="background-image: url(images/client.png)">
<span class="quote d-flex align-items-center justify-content-center">
<i class="icon-quote-left"></i>
</span>
</div>
<div class="text">
<p class="mb-5">" I have to commend BitMint live assist. It is supper fast and attends to every query without hesitations."</p>
<p class="name">Samson</p>
<span class="position">BitMint</span>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap p-4 pb-5">
<div class="user-img mb-5" style="background-image: url(images/client.png)">
<span class="quote d-flex align-items-center justify-content-center">
<i class="icon-quote-left"></i>
</span>
</div>
<div class="text">
<p class="mb-5">" The referral service is such an amazing idea. I always tend to make more profit than my regular mining, this is awesome."</p>
<p class="name">Promise</p>
<span class="position">BitMint</span>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap p-4 pb-5">
<div class="user-img mb-5" style="background-image: url(images/client.png)">
<span class="quote d-flex align-items-center justify-content-center">
<i class="icon-quote-left"></i>
</span>
</div>
<div class="text">
<p class="mb-5">" Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest bitcoin mining hardware running for you already all set up to start mining for you."</p>
<p class="name">Kessigton</p>
<span class="position">BitMint</span>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap p-4 pb-5">
<div class="user-img mb-5" style="background-image: url(images/client.png)">
<span class="quote d-flex align-items-center justify-content-center">
<i class="icon-quote-left"></i>
</span>
</div>
<div class="text">
<p class="mb-5">" Don’t wrestle with rig assembly and hot, noisy miners at home. We have the fastest bitcoin mining hardware running for you already all set up to start mining for you."x</p>
<p class="name">Clem</p>
<span class="position">BitMint</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- subscribe -->
<section class="ftco-domain container mt-5">
<div class="container">
<div class="row d-flex">
<div class="col-lg-5 heading-white mb-4 mb-sm-4 mb-lg-0 ftco-animate">
<h2 style="color: #006eb9; font-weight: bold;">Why wait till later?</h2>
<h2 style="color: #006eb9; font-weight: bold;">Start Mining now !!!</h2>
</div>
<div class="col-lg-7 ftco-wrap ftco-animate">
<p class="para">Subscribe To Our Newsletter</p>
<form action="#" class="domain-form d-flex">
<div class="form-group domain-name">
<input type="text" class="form-control name px-4" placeholder="Enter your Email Here">
</div>
<div class="form-group domain-select d-flex">
<div class="select-wrap">
<input type="text" class="form-control name " placeholder="">

</div>
<input type="submit" class="search-domain btn btn-primary text-center" value="Subscribe">
</div>
</form>
</div>
</div>
</div>
</section>

<!-- footer -->
<footer class="ftco-footer ftco-bg-dark ftco-section">
<div class="container">
<div class="row mb-4">
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<img src="images/logo.png" style="width: 200px;" alt="">

<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4 ml-md-5">
<h2 class="ftco-heading-2">Quick Links</h2>
<ul class="list-unstyled">
<li><a href="/pricing" class="py-2 d-block">Pricing</a></li>
<li><a href="/faq" class="py-2 d-block">FAQs</a></li>
<li><a href="/register" class="py-2 d-block">Purchase Bitcoin</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Resources</h2>
<ul class="list-unstyled">
<li><a href="/privacy" class="py-2 d-block">Privacy Policy</a></li>
<li><a href="/terms" class="py-2 d-block">Terms & Conditions</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Get in Touch</h2>
<div class="block-23 mb-3">
<ul>
<!-- <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 239 292 10</span></a></li> -->
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__">info@bitmintoption.com</span></span></a></li>
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-phone"></span><span class="text">Support</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<p>
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>. <a href="#" target="_blank">BitMintOption</a>. All Rights Reserved.
</p>
</div>
</div>
</div>
</footer>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#006eb9" /></svg></div>
<script src="jsc/jquery.min.js"></script>
<script src="jsc/jquery-migrate-3.0.1.min.js"></script>
<script src="jsc/popper.min.js"></script>
<script src="jsc/bootstrap.min.js"></script>
<script src="jsc/jquery.easing.1.3.js"></script>
<script src="jsc/jquery.waypoints.min.js"></script>
<script src="jsc/jquery.stellar.min.js"></script>
<script src="jsc/owl.carousel.min.js"></script>
<script src="jsc/jquery.magnific-popup.min.js"></script>
<script src="jsc/aos.js"></script>
<script src="jsc/jquery.animateNumber.min.js"></script>
<script src="jsc/bootstrap-datepicker.js"></script>
<script src="jsc/jquery.timepicker.min.html"></script>
<script src="jsc/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script src="jsc/google-map.js"></script>
<script src="jsc/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>