<!DOCTYPE html>
<html lang="en">
<head>
<title>BitMint</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link href="images/icon.png" rel="icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="cssc/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="cssc/animate.css">
<link rel="stylesheet" href="cssc/owl.carousel.min.css">
<link rel="stylesheet" href="cssc/owl.theme.default.min.css">
<link rel="stylesheet" href="cssc/magnific-popup.css">
<link rel="stylesheet" href="cssc/aos.css">
<link rel="stylesheet" href="cssc/ionicons.min.css">
<link rel="stylesheet" href="cssc/bootstrap-datepicker.css">
<link rel="stylesheet" href="cssc/jquery.timepicker.css">
<link rel="stylesheet" href="cssc/flaticon.css">
<link rel="stylesheet" href="cssc/icomoon.css">
<link rel="stylesheet" href="cssc/style.css">
<link rel="stylesheet" href="cssc/new.css">
</head>
<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
<a class="navbar-brand" href="/">
  <img src="images/logo.png" style="width: 200px;" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span>
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav m-auto">
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
<li class="nav-item active"><a href="/faq" class="nav-link">FAQs</a></li>
<li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
</ul>
<div class="nav-item cta">
<a href="/register" class="nav-link nav-btn" style="font-weight: bold;"><span>Create Free Account</span></a>
</div>
</div>
</div>
</nav>

<!-- hero -->
<section class="home-slider owl-carousel">
<div class="slider-item bread-item" style="background: url(images/FAQ.png); background-repeat: no-repeat; background-position: center; background-size: cover; height: 40vh;" data-stellar-background-ratio="1">
<div class="overlay"></div>
<div class="container-fluid">
<div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
<div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Faqs</span></p>
<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">FAQs</h1>
</div>
</div>
</div>
</div>
</section>

<!-- faq -->
<section class="ftco-section bg-light">
<div class="container">
<div class="row justify-content-center mb-5">
<div class="col-md-7 text-center heading-section ftco-animate">
<h2 class="mb-4" style="font-weight: bold;">Your Questions</h2>
</div>
</div>
<div class="row">
<div class="col-md-12 ftco-animate">
<div id="accordion">
<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menuone" aria-expanded="true" aria-controls="menuone">What is BitMint Option? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menuone" class="collapse">
<div class="card-body">
<p>The BitMint  mining pool is operated by the Norwegian company Aesir Financial AS.
Bitmint began as an idea for a more user-friendly graphical bitcoin mining client. At the time mining software used a command line interface and most people don't even know what that is. Work on BitMint began in March 2015. Later it turned into a complete mining pool. <br>
Bitminter went live 26 June 2016. <br>
The story of BitMint started at the end of 2015. Our founders got to know each other by using the same platform for buying and selling Bitcoins. They were fascinated by the technology and wanted to build their own farm, only to realize all their friends wanted to participate as well. <br>
They came up with the idea of mining as a service and built the first mining farm in Eastern Europe. Since our founding, we have grown tremendously and a lot has happened, but one thing remains constant: We are all strong believers in the future of digital currencies and we love being part of this growing community.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menutwo" aria-expanded="false" aria-controls="menutwo">How does bitcoin mining work with BitMint Option? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menutwo" class="collapse">
<div class="card-body">
<p>What we do is that we have a set of machines called miners which generates bitcoin and when you invest with us we use your money to invest in electricity and maintenance to keep these machines running on 24/7 for 365 days a year, then we give you daily profits from the bitcoin that the machines produce ....</p>
<p>Basically we have over 7 mining farm/pools( containing over a thousand s15 ant miners)which individually produces a stipulated amount of bitcoin daily.
This is in the sense that every mining farm/pool produces according to a certain plan, there is a farm/ pool for the starters plan where the cost of maintenance isn’t that high therefore it produces per cost rate and same way for the processing plans.</p>
<p>So each farms cost differently in the maintenance and the powering of the miners to produces more bitcoins daily. Hence leading to the difference in the plan prices and the daily profits rate for higher plans at a higher percentages!</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu3" aria-expanded="false" aria-controls="menu3">What is the mining performance? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu3" class="collapse">
<div class="card-body">
<p>Besides the fact that we ourselves mine with the very same hardware that we offer to our clients, our capital is limited. We believe that Bitcoin and Etherum mining is one of the best ways to receive Cryptocurrencies, however, we do not want to “put all our eggs in one basket”.</p>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu4" aria-expanded="false" aria-controls="menu4">Why are you not mining yourself? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu4" class="collapse">
<div class="card-body">
<p>It is always possible that mining hardware crashes, slows down or completely breaks. In all these cases, our algorithms ensure that other miners are allocated to the relevant pools to fully compensate for possible hashpower loss. This way our clients will not lose a second of mining time so whenever the blockchain our mining services encounter any difficulties we make sure it doesn’t affect investors/ clients mining services.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu5" aria-expanded="false" aria-controls="menu5">What does “100% uptime guarantee” mean? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu5" class="collapse">
<div class="card-body">
<p>For security reasons, we do not disclose the exact location of our mining farms. As of 2016, we are operating several mining farms that are located in Europe, North America and Asia. Electricity cost and availability of cooling are important, but not the only criteria as there are various other sacrosanct criteria that were considered!</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu6" aria-expanded="false" aria-controls="menu6">Where is your mining farm located? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu6" class="collapse">
<div class="card-body">
  <p>We do not publish a list of pools we are using. Our main criteria for a good pool are: reliability, fee structure and reject rate.</p>
<p>Our internal policy is: “be a good crypto citizen”. This means, that we will at least use two different pools (in some cases we use up to four) for each coin. This is to preserve the decentralized nature of the crypto networks! If we become aware that a pool is getting close to 50% share, we will switch away from it and use a backup instead.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu7" aria-expanded="false" aria-controls="menu7">Which pools are you using for mining? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu7" class="collapse">
<div class="card-body">
<p>We do not publish a list of pools we are using. Our main criteria for a good pool are: reliability, fee structure and reject rate.</p>
<p>Our internal policy is: “be a good crypto citizen”. This means, that we will at least use two different pools (in some cases we use up to four) for each coin. This is to preserve the decentralized nature of the crypto networks! If we become aware that a pool is getting close to 50% share, we will switch away from it and use a backup instead.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu8" aria-expanded="false" aria-controls="menu8">Isn’t buying the hardware cheaper? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu8" class="collapse">
<div class="card-body">
<p>On the first glance one might think that buying miner X is slightly cheaper than hosted mining. However, there are a number of “hidden” costs related to purchasing and maintaining a miner that change the economics significantly:</p>
<ul>
  <li>Shipping costs: few merchants will cover this, but in most cases they will charge you extra.</li>
  <li>Customs dues / VAT: if it is an international delivery you will likely have to pay customs dues and VAT; generally this has a huge impact on the total cost of your mining equipment.</li>
  <li>Delivery time: when you pay for your device you have to wait until the miner is packaged and shipped; if it is held up in the customs this can take weeks. And during that time you cannot mine at all (“opportunity costs”). You have to wait and hope. And if the merchant has a stock shortage; it is you who has to wait. With BitMint you pay and get your hashpower immediately online. No delays!</li>
  <li>Costs for additional equipment: when buying miners from larger retailers you often have to buy additional equipment like an extra PSU that matches the electricity specs for your country, control units and specific shelves to store them efficiently. This adds up significantly to the overall price for hashpower.</li>
  <li>Setting the system up: when the device finally arrived you have to assemble and configure it. Beginners often underestimate the amount of work and technical knowledge that is needed to bring the device up and optimize its settings. People that used the first ASICs spend days and weeks on it. In monetary terms this costs you twice: (i) your time and (ii) lost mining opportunity.</li>
  <li>Maintenance: hardware failures, outages and crashes could lead to downtimes between seconds and weeks. If your unit breaks you have to return it and start from scratch (by the way: check the guarantee time of your miner; it is often less than a year). With BitMint you have a guaranteed uptime of 100%: in case one of your units fails another unit will be switched over and start mining for you the very same second.</li>
  <li>Electricity: having the machines at home not only brings heat and noise, but also an increase of your electricity bill; an important factor that many underestimate.</li>
  <li>Please do not get us wrong: we do not want to discourage anyone from mining at home! We are often asked about prices and realized that many users do not know about all the hidden costs. If you compare the true costs, you will notice that our prices are very competitive. We want to provide you the best possible mining experience, so that you can focus on mining your favorite coins (and we take care of the rest).</li>
</ul>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu9" aria-expanded="false" aria-controls="menu9">What coins can I mine with each algorithm? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu9" class="collapse">
<div class="card-body">
<p>BitMint allows its clients to mine different types of coins at the same time. You decide which coins you prefer and you can allocate hashpower accordingly.
</p>
<p>Each mining algorithm is set up with a default delivery cryptocurrency. The BitMint Mining Advanced Auto-Allocation (in short “AUTO”) will apply to all cryptocurrencies which cannot be mined directly. </p>
<p>In order to get the mining output, please ensure to add your wallet address(es) to your BitMint Find out more details about how to add your wallet(s) in the next section.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu10" aria-expanded="false" aria-controls="menu10">How can I mine different coins at the same time? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu10" class="collapse">
<div class="card-body">
<p>Most cryptocurrency protocols utilize different proof-of-work mining algorithms to enforce their blockchain rules. Please be aware that blockchain developers may make changes to features and specifications of the algorithm over time, which can result in the elimination of support for and/or a different use of chips utilized by BitMint Option. You can find more information about that in the Terms of Service before purchase.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu11" aria-expanded="false" aria-controls="menu11">Which mining algorithms & architecture types are used for mining? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu11" class="collapse">
<div class="card-body">
<p>The expected returns on each plan you chose to invest in are clearly and correctly calculated in every contract you purchase respectively!!! <br>
The results of cryptocurrency mining highly depend on the price and the network difficulties of the given cryptocurrencies that you are mining. Neither of those can be predicted, so each customer must make an independent decision about the benefits of cryptocurrency mining and, in doing so, should consider the risks and their own circumstance when choosing whether to mine.</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu12" aria-expanded="false" aria-controls="menu12">What are the expected returns? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu12" class="collapse">
<div class="card-body">
<p>The expected returns on each plan you chose to invest in are clearly and correctly calculated in every contract you purchase respectively!!! <br>
The results of cryptocurrency mining highly depend on the price and the network difficulties of the given cryptocurrencies that you are mining. Neither of those can be predicted, so each customer must make an independent decision about the benefits of cryptocurrency mining and, in doing so, should consider the risks and their own circumstance when choosing whether to mine.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu13" aria-expanded="false" aria-controls="menu13">What is the maintenance fee? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu13" class="collapse">
<div class="card-body">
<p>Some of our products have a maintenance fee attached. The maintenance fee covers all costs related to mining inclusive of:</p>
<ul>
  <li>electricity cost</li>
  <li>cooling</li>
  <li>maintenance work</li>
  <li>hosting services</li>
</ul>
<p>The fee is fixed in USD but deducted from the monthly mining rewards in the natively mined coin on a monthly basis. You will find the maintenance fee details of your chosen contract in the Terms of Service before the purchase.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu14" aria-expanded="false" aria-controls="menu14">Ok, fine! How can I pay? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu14" class="collapse">
<div class="card-body">
<p>We currently only accept payment by Bitcoin because our main goal is to overcome the power of banks and make bitcoin the order of the day and bitcoin has unlimited purchases per day! <br>
Although we’re working on getting credit card payment available for investors too.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu15" aria-expanded="false" aria-controls="menu15">How do I add my wallet addresses to my BitMint Option profile? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu15" class="collapse">
<div class="card-body">
<p>You can add your wallet address when registering your account but if you’ve already had an account before having a personal wallet, you can add it by updating it on your profile which you can access at the top right corner of your account.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu16" aria-expanded="false" aria-controls="menu16">When do I get my mining output? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu16" class="collapse">
<div class="card-body">
<p> Mining outputs are generated daily, but every plan has a specific limit to their withdrawals.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu17" aria-expanded="false" aria-controls="menu17">How frequently will I receive my mining outputs? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu17" class="collapse">
<div class="card-body">
<p>A mining day usually starts at 00:00 UTC and ends at 23:59:59 UTC so your miners will mine for you 24 hours a day and act exactly according to your settings.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu18" aria-expanded="false" aria-controls="menu18">How do your Ether contracts work? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu18" class="collapse">
<div class="card-body">
<p>When you purchase an Ether mining contract, you buy a share of a GPU (“graphics processing unit“) to mine Ethereum. The hashing algorithm used to mine Ether is called Ethash (or Dagger-Hashimoto).</p>
<p>Ethash requires the so called DAG file in order to perform the calculations. This file grows over time, which means that more operations for each hashing operation need to be performed. This means that the effective hashrate decreases a little each time the DAG file grows.</p>
<p>This has to be considered when comparing the theoretical output of your hashpower. Online calculators do not take this into account.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu19" aria-expanded="false" aria-controls="menu19">How does our Affiliate Program work? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu19" class="collapse">
<div class="card-body">
<p>Referrals aren’t compulsory but when the company goes on any promo/raffles and all your affiliates stands as merit points.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu20" aria-expanded="false" aria-controls="menu20">Where can I learn more about you? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu20" class="collapse">
<div class="card-body">
<p>You can visit our blog to learn more about us!</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu21" aria-expanded="false" aria-controls="menu21">How can I reach you if I have further questions? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu21" class="collapse">
<div class="card-body">
<p>Customer service is our highest priority! Making decisions is not only about having a good feeling but also about understanding the business concept in detail. Therefore, if you need any help, our agents are always available to assist you.</p>
<p>Feel free to contact us anytime via the livechat team. The quality and promptness of our response also depends on the request you have submitted, please make sure to choose the right questions.</p>
<p>We are looking forward to hearing from you.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu23" aria-expanded="false" aria-controls="menu23">How does my referral/affiliate code work? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu23" class="collapse">
<div class="card-body">
<p>It’s simple - anytime your referral uses your affiliate code, they’ll get a 3% discount on their purchase, and you’ll get a hashpower upgrade. The upgrade corresponds to your current affiliate rank - the higher your rank, the bigger the rewards! You’ll be notified by your registered email anytime someone uses your affiliate code.</p>
<p>Promo codes can be used for the purchase of all BitMint plans, with the exception of 6-month mining plans.</p>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<a class="card-link" data-toggle="collapse" href="#menu22" aria-expanded="false" aria-controls="menu22">And lastly; Are you a legit company? Can I trust BitMint Option? <span class="collapsed"><i class="icon-plus-circle"></i></span><span class="expanded"><i class="icon-minus-circle"></i></span></a>
</div>
<div id="menu22" class="collapse">
<div class="card-body">
<p>We have been in the mining business since 2015 and officially on 2016, which is unique in the cloud mining business. We’re one the most reliable companies, and we are very serious about the business we’re in.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- subscribe -->
<section class="ftco-domain mt-5">
<div class="container">
<div class="row d-flex">
<div class="col-lg-5 heading-white mb-4 mb-sm-4 mb-lg-0 ftco-animate">
<h2 style="color: #006eb9; font-weight: bold;">Why wait till later?</h2>
<h2 style="color: #006eb9; font-weight: bold;">Start Mining now !!!</h2>
</div>
<div class="col-lg-7 ftco-wrap ftco-animate">
<p class="para">Subscribe To Our Newsletter</p>
<form action="#" class="domain-form d-flex">
<div class="form-group domain-name">
<input type="text" class="form-control name px-4" placeholder="Enter your Email Here">
</div>
<div class="form-group domain-select d-flex">
<div class="select-wrap">
<input type="text" class="form-control name " placeholder="">

</div>
<input type="submit" class="search-domain btn btn-primary text-center" value="Subscribe">
</div>
</form>
</div>
</div>
</div>
</section>

<!-- footer -->
<footer class="ftco-footer ftco-bg-dark ftco-section">
<div class="container">
<div class="row mb-4">
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<img src="images/logo.png" style="width: 200px;" alt="">

<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4 ml-md-5">
<h2 class="ftco-heading-2">Quick Links</h2>
<ul class="list-unstyled">
<li><a href="/pricing" class="py-2 d-block">Pricing</a></li>
<li><a href="/faq" class="py-2 d-block">FAQs</a></li>
<li><a href="/register" class="py-2 d-block">Purchase Bitcoin</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Resources</h2>
<ul class="list-unstyled">
<li><a href="/privacy" class="py-2 d-block">Privacy Policy</a></li>
<li><a href="/terms" class="py-2 d-block">Terms & Conditions</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Get in Touch</h2>
<div class="block-23 mb-3">
<ul>
<!-- <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 239 292 10</span></a></li> -->
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__">info@bitmintoption.com</span></span></a></li>
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-phone"></span><span class="text">Support</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<p>
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>. <a href="#" target="_blank">BitMintOption</a>. All Rights Reserved.
</p>
</div>
</div>
</div>
</footer>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#006eb9" /></svg></div>
<script src="jsc/jquery.min.js"></script>
<script src="jsc/jquery-migrate-3.0.1.min.js"></script>
<script src="jsc/popper.min.js"></script>
<script src="jsc/bootstrap.min.js"></script>
<script src="jsc/jquery.easing.1.3.js"></script>
<script src="jsc/jquery.waypoints.min.js"></script>
<script src="jsc/jquery.stellar.min.js"></script>
<script src="jsc/owl.carousel.min.js"></script>
<script src="jsc/jquery.magnific-popup.min.js"></script>
<script src="jsc/aos.js"></script>
<script src="jsc/jquery.animateNumber.min.js"></script>
<script src="jsc/bootstrap-datepicker.js"></script>
<script src="jsc/jquery.timepicker.min.html"></script>
<script src="jsc/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script src="jsc/google-map.js"></script>
<script src="jsc/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>