<!DOCTYPE html>
<html lang="en">
<head>
<title>BitMint</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link href="images/icon.png" rel="icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="cssc/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="cssc/animate.css">
<link rel="stylesheet" href="cssc/owl.carousel.min.css">
<link rel="stylesheet" href="cssc/owl.theme.default.min.css">
<link rel="stylesheet" href="cssc/magnific-popup.css">
<link rel="stylesheet" href="cssc/aos.css">
<link rel="stylesheet" href="cssc/ionicons.min.css">
<link rel="stylesheet" href="cssc/bootstrap-datepicker.css">
<link rel="stylesheet" href="cssc/jquery.timepicker.css">
<link rel="stylesheet" href="cssc/flaticon.css">
<link rel="stylesheet" href="cssc/icomoon.css">
<link rel="stylesheet" href="cssc/style.css">
<link rel="stylesheet" href="cssc/reg.css">
</head>
<style>
  p{
    text-align: justify;
  }
</style>
<body>
  <div class="wrapper">
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
<a class="navbar-brand" href="/">
  <img src="images/logo.png" style="width: 200px;" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span>
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav m-auto">
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/" class="nav-link">About</a></li>
<li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
<li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
</ul>
<div class="nav-item cta">
<a href="/login" class="nav-link nav-btn" style="font-weight: bold; color: #fff;"><span>Login to Account</span></a>
</div>
</div>
</div>
</nav>


<!-- privacy -->
<section class="ftco-section contact-section ftco-degree-bg mt-5">
<div class="container">
<div class="terms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="login-form">
                          <h2>The BitMint Privacy Statement</h2>
                            <p>BitMint Group and its global affiliates (collectively, "BitMint", "we", "us", and "our") respect your privacy. Therefore, we have developed a Privacy Statement (hereinafter referred to as "this Statement") that covers how we collect, use, disclose, protect, store and transfer your personal data when using our websites, products or services. Please take a moment to read and understand our Privacy Statement and let us know if you have any questions.</p>
                            <p>Personal data means any electronic or other information which alone or jointly with other information can be used to identify a natural person or make him/her identifiable. This Statement explains how BitMint processes your personal data, but does not cover all processing scenarios as you will be informed in specific processing activity. Therefore, before using a specific product or service, it is recommended that you read the privacy notice or supplementary statement released by BitMint for that product or service to understand how it processes your personal data. This Statement applies only to websites, product and services that display or mention this Statement.</p>
                            <p>This Statement describes:</p>
                            <ul>
                              <li>How BitMint Collects and Uses Your Personal Data</li>
                              <li>How BitMint Uses Cookies and Similar Technologies</li>
                              <li>How BitMint Shares Your Personal Data</li>
                              <li>How BitMint Protects Your Personal Data</li>
                              <li>How You Can Manage Your Personal Data</li>
                              <li>How BitMint Protects Children's Personal Data</li>
                              <li>Links to Third-Party Websites, Products, and Services</li>
                              <li>International Transfers of Your Personal Data</li>
                              <li>Updates to This Statement</li>
                              <li>How to Contact Us</li>
                            </ul>
                            <br>
                            <h4>(I)  How BitMint Collects and Uses Your Personal Data</h4>
                            <h5>A. Personal Data Collected by BitMint </h5>
                            <P>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our websites, products, or services, or interact with us by, for example, creating a BitMint account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services. For example, we may use technologies like cookies or receive use data from software running on your device. As permitted by law, we may also obtain data from public and commercial third-party sources, for example, purchasing statistics from other companies to support our services. The personal data we collect includes name, enterprise name, postal and email addresses, phone number, login information (account and password), photos, and certificate information, etc., depending on how you interact with BitMint, for example, the website you visit or the products and services that you use. We also collect the information you provide to us and the content of messages you send us, such as the query information you provide, or the questions or information you provide for customer service support. In addition, we may also collect Non-identifiable data, which refers to data that cannot be used to identify an individual, for example, the statistics on website visits, application downloads, and product sales volume.</P>
                            <p>Before using our products or services, you may need to provide personal data. You do not have to provide your personal data to BitMint, but in some cases, the non-provision of certain personal data will cause the inability to provide you with some related products or services.</p>

                            <h5>B. How BitMint Uses Your Personal Data</h5>
                            <p>Bitmain may use your personal data for the following purposes:</p>
                            <ol>
                              <li>Register a BitMint ID.</li>
                              <li>Information relating to e-commerce orders may be used for processing the purchase order and related after-sales services, including customer support and re-delivery. In addition, the order number is used to cross check the order with the delivery partner as well as the actual delivery of the parcel. The receipt details, including name, address, phone number and postal code are for delivery purposes. The email address is used to send parcel tracking information to the user. The list of purchased item(s) is used for printing the invoice and allowing users to see what is in the parcel.</li>
                              <li>Deliver, activate, or verify the products and services you have requested, or perform changes and provide technical support and after-sales services for the foregoing products and services based on your requirements.</li>
                              <li>Send you important notifications.</li>
                              <li>Provide personalized user experience and content.</li>
                              <li>Send you information about products and services you might be interested in, invite you to BitMint’s promotional activities and market surveys, or send marketing information to you. If you do not want to receive such information, you can opt out at any time.</li>
                              <li>Collect user feedback. The feedback you choose to provide is important to help BitMint improve its services. To process your feedback, we may use the personal information you provide to contact you and keep records</li>
                              <li>Carry out internal auditing, data analysis, and research; analyze business operation efficiency and measure market shares; and improve BitMint’s products and services.</li>
                              <li>Troubleshooting when you send us error reports.</li>
                              <li>Ensuring the security of our products, services and customers or users.</li>
                              <li>Process pursuant to laws and regulations, e.g. tax, authority requests.</li>
                              <li>Other purposes within specific services or with your consent.</li>
                            </ol>
                            <br>
                            <h4>(II) How BitMint Uses Cookies and Similar Technologies</h4>
                            <p>BitMint’s websites, online services, interactive applications, email messages, and advertisements may use "cookies" and other technologies such as pixel tags and web beacons. These technologies help us better understand user behavior, tell us which parts of our websites people have visited, and facilitate and measure the effectiveness of advertisements and web searches. We treat information collected by cookies and other technologies as non‑personal information. However, to the extent that Internet Protocol (IP) addresses or similar identifiers are considered personal information by local law, we also treat these identifiers as personal information.</p>
                            <h5>A. Cookie</h5>
                            <p>A cookie is a text file stored by a web server on a computer or mobile device, and the content of a cookie can be retrieved and read only by the server that created the cookie. Cookies are unique to the browser or mobile application you are using. The text in a cookie often consists of identifiers, site names, and some numbers and characters.</p>
                            <p>Sometimes, BitMint stores cookies on computers or mobile devices for the purpose of improving user experience, including the following scenarios:</p>
                            <ol>
                              <li>Technical cookies: Login and verification. When you use a BitMint ID to log in to a website, the “session-based” cookies ensure that your visit to this site functions as smoothly as possible.</li>
                              <li>Personalization cookies: Storage of your preferences and settings. A website can use cookies to save settings, such as the language setting and font size on your computer or mobile device, items in your shopping cart, and other browser preferences.</li>
                              <li>Advertising cookies. BitMint uses cookies to collect information about your online activities and interests and provide you with advertisements that correlate most highly with you.</li>
                              <li>Statistical cookies. With cookies, BitMint can collect information about your use of our websites and other applications, either for a single visit (using a session cookie) or for repeated visits (using a persistent cookie). You can manage or delete cookies at your own preference. For details, visit <a href="https://aboutcookies.org/">AboutCookies.org</a> AboutCookies.org. You can clear all the cookies stored on your computer, and most current web browsers provide the option of blocking cookies. However, blocking cookies will require you to change your user settings every time you visit our website. Find out how to manage cookie settings for your browser here: Internet Explorer >  Google Chrome >  Mozilla Firefox >  Safari >  Opera. <br>If you clear cookies, you will need to change your settings the next time you visit BitMint’s websites. Note that some BitMint’s services require the use of cookies. Disabling cookies may affect your use of some or all functions of these services.</li>
                            </ol>
                            <h5>B. Web Beacons and Pixel Tags</h5>
                            <p>In addition to cookies, BitMint and some third parties may also use web beacons and pixel tags on websites. A web beacon is usually an electronic graphic image embedded into a website or email to identify your device cookies when you browse the website or email. Pixel tags allow BitMint to send emails in a way that is readable to you and find out whether an email is opened.</p>
                            <p>BitMint and some third parties use these technologies for various purposes, including analysing service usage (together with cookies) and providing more satisfactory content and advertisements to you. For example, when you receive an email from BitMint , it may contain a click-through URL which links to a BitMint web page. If you click the link, BitMint will track your visit to help us learn about your preferences for products and services and improve our customer service. You can unsubscribe from the mailing list of BitMint at any time if you do not want to be tracked in this manner.</p>
                            <h5>C. Other Local Storage</h5>
                            <p>BitMint and some third parties may use other local storage technologies, for example, local shared objects (also called "Flash cookies") and HTML5 local storage, in certain products and services. Similar to cookies, these technologies store information on your device and can record some information about your activities and preferences. However, these technologies may use different media from cookies. Therefore, you may not be able to control them using standard browser tools and settings. For details about how to disable or delete information contained in Flash cookies, click  here.</p>
                            <h5>D. Do Not Track</h5>
                            <p>Many web browsers provide a Do Not Track function that can release Do Not Track requests to websites. Currently, major Internet standardization organizations have not established policies to specify how websites should handle these requests. If you enable Do Not Track in your browser, all BitMint’s websites will respect your selection.</p>
                            <br>
                            <h4>(III) How BitMint Shares Your Personal Data</h4>
                            <p>We do not share personal data with other companies, organizations and individuals unless one of the following circumstances applies:</p>
                            <ol>
                              <li>Sharing with consent: After obtaining your consent, BitMint will share the information that you have authorized with specified third parties or categories of third parties.</li>
                              <li>Sharing pursuant to laws and regulations: BitMint may share your information as required by laws and regulations, for resolving legal disputes, or as required by administrative or judiciary authorities pursuant to law.</li>
                              <li>Sharing with BitMint’s affiliates: Your information may be shared within BitMint’s affiliates only for explicit, and legitimate purposes, and the sharing is limited only to information required by services. For example, we verify the global uniqueness of accounts before allowing them to be registered.</li>
                              <li>Sharing with business partners: Some products and/or services are provided to you directly by our partners. BitMint also may share your information with them, they may use your information to provide you with products and/or services you request (e.g., products sold by third-party seller through BitMint’s e-commerce platform, video content provided by other companies through BitMint’s applications), make predictions about your interests and may provide you with advertisements, promotional materials and other materials</li>
                              <li>Sharing with service providers: BitMint also may disclose your information to companies that provide services for or on behalf of us. Examples of these service providers include companies that provide hotline services, send email, or provide technical support on behalf of BitMint. The service providers can use your information only for the purpose of providing services to you on behalf of BitMint .</li>
                              <li>BitMint will share your information when there is a reasonable requirement to do so, for example, to meet request of applicable law, regulation, legal process or enforceable government. <br>In scenarios 3 to 6, BitMint will ensure that the lawfulness of this sharing and sign stringent non-disclosure agreements (NDAs) and/or data processing clauses with the companies, organizations, and individuals with whom personal data is shared, requiring them to comply with this Statement and take appropriate confidentiality and security measures when processing personal data.</li>
                            </ol>
                            <br>
                            <h4>(IV) How BitMint Protects Your Personal Data</h4>
                            <p>BitMint attaches great importance to the security of your personal data and has adopted standard industry practices to protect your personal data and prevent it from unauthorized access, disclosure, use, modification, damage, or loss. To this end, BitMint takes the following measures:</p>
                            <ol>
                              <li>We take reasonable and feasible measures to ensure that the personal data collected is minimal and relevant to what is necessary in relation to the purposes for which they are processed. We retain your personal data for no longer than is necessary for the purposes stated in this Statement and privacy notice of specific product or service, unless extending the retention period is required or permitted by law.</li>
                              <li>We use a range of technologies such as cryptographic technologies to ensure the confidentiality of data in transmission. We implement trusted protection mechanisms to protect data and data storage servers from attacks.</li>
                              <li>We deploy access control mechanisms to ensure that only authorized personnel can access your personal data. In addition, we control the number of authorized personnel and implement hierarchical permission management on them based on service requirements and personnel levels.</li>
                              <li>We strictly select business partners and service providers and incorporate personal data protection requirements into commercial contracts, audits, and appraisal activities.</li>
                              <li>We hold security and privacy protection training courses, tests, and publicity activities to raise employees' personal data protection awareness. BitMint is committed to protecting your personal data. Nevertheless, no security measure is perfect and no product, service, website, data transfer, computing system, or network connection is absolutely secure. <br>To cope with possible risks, such as personal data leakage, damage, and loss, BitMint has developed several mechanisms and control measures, clearly defined the rating standards of security incidents and vulnerabilities and corresponding processing procedure. Bitmain has established a dedicated emergency response team to implement security planning, loss reduction, analysis, locating, and remediation, and to perform tracking operations with related departments based on security incident handling regulations and requirements. <br>If any personal data incident occurs, BitMint will notify you, pursuant to relevant legal and regulatory requirements, of the basic information about the security incident and its possible impact, measures that BitMint has taken or will take, suggestions about active defense and risk mitigation, and remedial measures. The notification may take the form of an email, text message, push notification, etc. If it is difficult to notify data subjects one by one, we will take appropriate and effective measures to release a Security Notice. In addition, we will also report the handling status of personal data security incidents as required by supervisory authorities.</li>
                            </ol>
                            <br>
                            <h4>(V) How You Can Manage Your Personal Data</h4>
                            <h5>A. Access, rectification, deletion, data portability, restriction of processing, objection to processing.</h5>
                            <p>Legislation in some countries and regions to which BitMint provides products and services or from where BitMint processes personal data, provides that data subjects the rights request (hereinafter referred to as "requests") in regards to the accessing, rectifying, deleting or erasure, porting, restricting, and objecting, the processing of related personal data by BitMint retains.</p>
                            <p>* 		Requesting modes and channels</p>
                            <p>Data subjects' requests must be submitted in accordance with BitMint designated privacy channels. The requests are valid even when the requester does not specify the laws on which the requests are based. If you would like to request access to your personal data held by us or if you believe any information we are holding on you is incorrect or incomplete, please submit your request to our online service. A copy of your personal data collected and processed by us will be provided to you upon your request free of charge. For any extra requests of the same information, we may charge a reasonable fee based on actual administrative costs according to the applicable laws.</p>
                            <p>* 		Validity of requests</p>
                            <p>Most laws require data subjects to comply with specific requirements when they initiate requests. This Statement requires data subjects to:</p>
                            <ol>
                              <li>Submit requests to our online service.</li>
                              <li>Provide sufficient information for BitMint to verify their identities (to ensure those who initiate the requests are the data subjects themselves or those authorized by them).</li>
                              <li>Ensure that their requests are specific and feasible. <br>There are some circumstances, provided by laws and regulations, in which BitMint may not have to comply with the request in full or at all.</li>
                            </ol>
                            <h5>B. Consent withdrawal</h5>
                            <p>You can change the authorized personal data collection scope or withdraw your consent without affecting the lawfulness of the processing activities based on the consent and prior to such withdraw. <br>Your rights can be exercised by deleting information, disabling related functions, or setting privacy options on your BitMint’s product. BitMint will release the methods for withdrawing consent for specific products and services in the privacy notice or supplementary statement of those products and services or upon request according to section A above.</p>
                            <h5>C. Deregistering a BitMint ID</h5>
                            <p>You can deregister your account in BitMint ID-related products. After you deregister your account, we will stop providing products and services, and delete your personal data unless otherwise stipulated by law. Your account cannot be restored after deregistration. You need to register a new BitMint ID if you want to use related Bitmain’s products or services again. You can submit a deregistration application and complete the process in setting menu after logging in to your BitMint ID on related devices, applications or official website.</p>
                            <br>
                            <h4>(VI) How BitMint Protects Children's Personal Data</h4>
                            <p>We consider it the responsibility of parents to monitor their children’s use of our products and services. Nevertheless, it is our policy not to require personal information from children or offer to send any promotional materials to persons in that category. <br>BitMint does not seek or intend to seek to receive any personal information from children. Should a parent or guardian have reasons to believe that a child has provided BitMint with personal information without their prior consent, please contact us to ensure that the personal information is removed and the child unsubscribes from any of the applicable BitMint’s services.</p>
                            <br>
                            <h4>(VII) Links to Third-Party Websites, Products, and Services</h4>
                            <p>BitMint websites, application software, products, and services may contain links to third-party websites, products, and services. BitMint’s products and services may also use or provide products or services from third parties. <br> All links to third-party websites, products, and services are provided for users' convenience only. We are not responsible for and cannot control how third-parties use personal information which they collect from you. Our privacy policy does not apply to other sites linked from our services. <br> You need to determine your interaction with such links on your own. Before submitting your personal data to third parties, please read and refer to these third parties' privacy policies.</p>
                            <br>
                            <h4>(VIII) International Transfers of Your Personal Data</h4>
                            <p>Our products and services are delivered through resources and servers located in different places, to offer our products and services, we may need to transfer your personal data among several countries. Authorized BitMint personnel and third parties acting on our behalf may access, use and process personal data collected from you in a country/region that is different from the country/region where you entered the personal data, which may have less stringent data protection laws. When we transfer your personal data to other countries/regions, we will protect that the personal data as described in this statement or as otherwise disclosed to you at the time the data is collected (e.g. via privacy notice or supplementary statement of specific product or service).</p>
                            <p>BitMint has implemented global privacy practices for processing personal data protected under various data protection laws. BitMint transfers personal data between the countries in which we operate in accordance with the standards and conditions of applicable data protection laws, including standards and conditions related to security and processing. <br> With respect to personal data coming from the EU, we comply with applicable legal requirements providing adequate safeguards for the transfer of personal data to countries outside of the European Economic Area ("EEA"). We use a variety of legal mechanisms, such as standard contractual clauses to implement the cross-border transfer of your personal data; or implement other safeguards provided for in the GDPR.</p>
                            <br>
                            <h4>(IX) Updates to This Statement</h4>
                            <p>BitMint reserves the right to update this Statement at any time. Should this Statement be revised from time to time, BitMint will release the change notice via various channels, for example, posting the latest version on our official website: <a href="https://www.bitmintoption.com">https://www.bitmintoption.com</a> If we make any material changes we may notify you by means of a notice on this website.</p>
                            <p>Material changes" in this Statement include but are not limited to:</p>
                            <ol>
                              <li>Material changes in our service modes, for example, purposes of personal data processing, types of processed personal data, and ways of using personal data</li>
                              <li>Material changes in our ownership structure, organizational structure, etc., for example, ownership changes caused by business adjustment, bankruptcy, or acquisition</li>
                              <li>Changes in the main objects of personal data sharing, transfer, or disclosure.</li>
                              <li>Material changes in your rights regarding personal data processing and the ways in which you can enjoy those rights.</li>
                              <li>Changes of BitMint’s departments, contacts, and complaint channels responsible for the security of personal data processing.</li>
                              <li>High risks identified in personal data security impact assessment reports</li>
                            </ol>
                            <br>
                            <h4>(X) Children’s Privacy</h4>
                            <p>How to Contact Us</p>
                            <p>If you have any questions or concerns about our Sites, Products or Services, our use of your information or this Policy, please contact our Online Service submitting it to <a href="mailto: account-support@bitmint.com" target="_blank">account-support@bitmint.com</a> .</p>
                            <p>Note: Due to differences in local laws and languages, the local versions of BitMint’s Privacy Statement may be different from this version. In the case of any conflicts, the local versions shall prevail.</p>
                            <p> Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>. <a href="#" target="_blank">BitMintOption</a>. All Rights Reserved.</p>
                            <br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

<!-- footer -->
<footer class="ftco-footer ftco-bg-dark ftco-section mt-5">
<div class="container">
  <div class="row mb-4">
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<img src="images/logo.png" style="width: 200px;" alt="">

<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4 ml-md-5">
<h2 class="ftco-heading-2">Quick Links</h2>
<ul class="list-unstyled">
<li><a href="/pricing" class="py-2 d-block">Pricing</a></li>
<li><a href="/faq" class="py-2 d-block">FAQs</a></li>
<li><a href="/register" class="py-2 d-block">Purchase Bitcoin</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Resources</h2>
<ul class="list-unstyled">
<li><a href="/privacy" class="py-2 d-block">Privacy Policy</a></li>
<li><a href="/terms" class="py-2 d-block">Terms & Conditions</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Get in Touch</h2>
<div class="block-23 mb-3">
<ul>
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__">info@bitmintoption.com</span></span></a></li>
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-phone"></span><span class="text">Support</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<p>
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>. <a href="#" target="_blank">BitMintOption</a>. All Rights Reserved.
</p>
</div>
</div>
</div>
</footer>
</div>
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#006eb9" /></svg></div>
<script src="jsc/jquery.min.js"></script>
<script src="jsc/jquery-migrate-3.0.1.min.js"></script>
<script src="jsc/popper.min.js"></script>
<script src="jsc/bootstrap.min.js"></script>
<script src="jsc/jquery.easing.1.3.js"></script>
<script src="jsc/jquery.waypoints.min.js"></script>
<script src="jsc/jquery.stellar.min.js"></script>
<script src="jsc/owl.carousel.min.js"></script>
<script src="jsc/jquery.magnific-popup.min.js"></script>
<script src="jsc/aos.js"></script>
<script src="jsc/jquery.animateNumber.min.js"></script>
<script src="jsc/bootstrap-datepicker.js"></script>
<script src="jsc/jquery.timepicker.min.html"></script>
<script src="jsc/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script src="jsc/google-map.js"></script>
<script src="jsc/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>