<!DOCTYPE html>
<html lang="en">
<head>
<title>BitMint</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link href="images/icon.png" rel="icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="cssc/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="cssc/animate.css">
<link rel="stylesheet" href="cssc/owl.carousel.min.css">
<link rel="stylesheet" href="cssc/owl.theme.default.min.css">
<link rel="stylesheet" href="cssc/magnific-popup.css">
<link rel="stylesheet" href="cssc/aos.css">
<link rel="stylesheet" href="cssc/ionicons.min.css">
<link rel="stylesheet" href="cssc/bootstrap-datepicker.css">
<link rel="stylesheet" href="cssc/jquery.timepicker.css">
<link rel="stylesheet" href="cssc/flaticon.css">
<link rel="stylesheet" href="cssc/icomoon.css">
<link rel="stylesheet" href="cssc/style.css">
<link rel="stylesheet" href="cssc/reg.css">
</head>
<body>
  <div class="wrapper">
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
<a class="navbar-brand" href="/">
  <img src="images/logo.png" style="width: 200px;" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span>
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav m-auto">
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
<li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
<li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
</ul>
<div class="nav-item cta">
<a href="/login" class="nav-link nav-btn" style="font-weight: bold; color: #fff;"><span>Login to Account</span></a>
</div>
</div>
</div>
</nav>


<!-- terms -->
<section class="ftco-section contact-section ftco-degree-bg mt-5">
<div class="container">
<div class="terms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="login-form">
                          <h2>Terms & Conditions</h2>
                          <h4>Risk Notice</h4>
                            <p>Bitcoin is a not backed or value guaranteed by any financial institution; when purchasing bitcoins the customer assumes all risk the bitcoins may become worthless in value. Customers should research and consider the risks before purchasing any bitcoins. The company makes absolutely no guarantee about the future value of the bitcoins purchased.</p>
                            <br>
                            <h4>Severability</h4>
                            <p>In the event any court shall declare any section or sections of this Agreement invalid or void, such declaration shall not invalidate the entire Agreement and all other paragraphs of the Agreement shall remain in full force and effect.</p>
                            <br>
                            <h4>Customer input errors</h4>
                            <P>It is the sole responsibility of the customer to check the accuracy of information entered and saved on the website. Account details displayed on the order summary webpage will be the final transfer destination. In the case that this information is incorrect, and funds are transferred to an unintended destination, the company shall not reimburse the customer and shall not transfer additional funds. As such customers must ensure the Bitcoin address and bank information they enter is completely correct.</P>
                            <br>
                            <h4>Binding Agreement</h4>
                            <p>The terms and provisions of this Agreement are binding upon Your heirs, successors, assigns, and other representatives. This Agreement may be executed in counterparts, each of which shall be considered to be an original, but both of which constitute the same Agreement.</p>
                            <br>
                            <h4>Expired orders</h4>
                            <p>If the company receives payment for an order that has already expired, the company reserves the right to recalculate the Bitcoin to USD exchange rate at the time of processing the transfer to the customer. This may result in the customer receiving less bitcoins or USD than the original ordered amount.</p>
                            <br>
                            <h4>Choice of Law</h4>
                            <p>This Agreement, and its application and interpretation, shall be governed exclusively by the laws of the State of Georgia and Hong Kong, without regard to its conflict of law rules. You consent to the exclusive jurisdiction of the federal and state courts located in or near Atlanta, Georgia for any dispute arising under this Agreement.</p>
                            <br>
                            <h4>Security</h4>
                            <p>We have implemented security measures designed to secure your information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized persons will never gain access to your information, and you acknowledge that you provide your information at your own risk, except as otherwise provided by applicable law. Backed by the law of the state of Georgia and Hong Kong the investor has every right to file a lawsuit if any parts of the agreements is defaulted and so does the company have every right to also do so too. Vice versa!</p>
                            
                        </div>
                        
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Click to accept terms and conditions</label>
                          </div>
                          <button type="submit" class="btn btn-primary mt-3">Accept</button>
                        
                      </div>
                </div>
            </div>
        </div>
</div>

</section>

<!-- footer -->
<footer class="ftco-footer ftco-bg-dark ftco-section mt-5">
<div class="container">
  <div class="row mb-4">
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<img src="images/logo.png" style="width: 200px;" alt="">

<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4 ml-md-5">
<h2 class="ftco-heading-2">Quick Links</h2>
<ul class="list-unstyled">
<li><a href="/pricing" class="py-2 d-block">Pricing</a></li>
<li><a href="/faq" class="py-2 d-block">FAQs</a></li>
<li><a href="/register" class="py-2 d-block">Purchase Bitcoin</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Resources</h2>
<ul class="list-unstyled">
<li><a href="/privacy" class="py-2 d-block">Privacy Policy</a></li>
<li><a href="/terms" class="py-2 d-block">Terms & Conditions</a></li>
</ul>
</div>
</div>
<div class="col-md">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Get in Touch</h2>
<div class="block-23 mb-3">
<ul>
<!-- <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 239 292 10</span></a></li> -->
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__">info@bitmintoption.com</span></span></a></li>
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-phone"></span><span class="text">Support</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<p>
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>. <a href="#" target="_blank">BitMintOption</a>. All Rights Reserved.
</p>
</div>
</div>
</div>
</footer>
</div>
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#006eb9" /></svg></div>
<script src="jsc/jquery.min.js"></script>
<script src="jsc/jquery-migrate-3.0.1.min.js"></script>
<script src="jsc/popper.min.js"></script>
<script src="jsc/bootstrap.min.js"></script>
<script src="jsc/jquery.easing.1.3.js"></script>
<script src="jsc/jquery.waypoints.min.js"></script>
<script src="jsc/jquery.stellar.min.js"></script>
<script src="jsc/owl.carousel.min.js"></script>
<script src="jsc/jquery.magnific-popup.min.js"></script>
<script src="jsc/aos.js"></script>
<script src="jsc/jquery.animateNumber.min.js"></script>
<script src="jsc/bootstrap-datepicker.js"></script>
<script src="jsc/jquery.timepicker.min.html"></script>
<script src="jsc/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script src="jsc/google-map.js"></script>
<script src="jsc/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>